/* width */
::-webkit-scrollbar {
  width: .35rem;
  height: .35rem;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #5f6874; */
  border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  height: 85%;
  border-radius: 100vh;
  width: .35rem;
  height: .35rem;
}

.nav-bar-container {
  height: 100vh;
  width: var(--nav-bar-open-width);
  background-color: var(--app-background-color-2);
  user-select: none;
  transition: all var(--nav-bar-transition-time1) ease var(--nav-bar-transition-delay1);
  position: fixed;
  left: calc(-1 * var(--nav-bar-open-width));
  overflow-x: visible;
  z-index: 1;
}

.nav-bar-open-close-button {
  width: var(--nav-bar-open-close-button-width);
  height: 100vh;
  background-color: var(--app-background-color-2);
  position: absolute;
  right: calc(-1 * var(--nav-bar-open-close-button-width));
  top: 0;
  transition:
    height 0s linear,
    opacity var(--nav-bar-transition-time1) ease var(--nav-bar-transition-delay1);
  display: grid;
  place-content: center;
  cursor: pointer;
  z-index: -1;
  opacity: 1;
}

.nav-bar-open-close-button > svg {
  fill: var(--sidebar-icon-colors);
  width: 30px;
}

.nav-bar-container:hover {
/* .nav-bar-container { */
  transition: all var(--nav-bar-transition-time2) ease;
  left: 0;
  box-shadow: 0 0 1rem 0 black;
}

.nav-bar-container:hover .nav-bar-open-close-button {
/* .nav-bar-container .nav-bar-open-close-button { */
  transition:
    height 0s linear,
    opacity var(--nav-bar-transition-time2) ease;
  opacity: 0;
}

.nav-bar-container:hover + .main-content-container {
  filter: var(--main-content-opacity-wen-nav-bar-expanded);
  transition: filter var(--nav-bar-transition-time2) ease;
}

.nav-bar-content {
  width: 100%;
  min-height: 100%;
  overflow-x: visible;
  position: relative;
  display: flex;
  flex-direction: column;
}

.empty-space-filler {
  background-color: var(--app-background-color-2);
  z-index: 1;
  flex: 1 1;
}

.nav-bar-item {
  width: 100%;
  position: relative;
  overflow-x: visible;
  z-index: 1;
}

.nav-bar-item-content-container {
  width: 100%;
  height: 5rem;
  cursor: pointer;
  background-color: var(--app-background-color-2);
}

.nav-bar-item-content {
  width: 100%;
  height: 5rem;
  color: var(--sidebar-icon-colors);
  display: grid;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  transition: all var(--nav-bar-transition-time2) linear;
  position: relative;
  background-color: var(--app-background-color-2);
}

.nav-bar-item-content > svg {
  fill: var(--sidebar-icon-colors);
  width: 44px;
}

.nav-bar-item:hover .nav-bar-item-content {
  transition: all var(--nav-bar-transition-time2) cubic-bezier(0.19, 0.98, 1, 1);
  background-color: var(--side-bar-hover-background-color);
  box-shadow: inset 0 0 10px 0 lightgreen;
  transform: scale(0.95);
  border-radius: 5px;
}

.nav-bar-drop-down {
  width: 0;
  position: absolute;
  top: 0;
  left: calc(-1 * var(--nav-bar-drop-down-width));
  transition:
    left var(--nav-bar-transition-time2) linear,
    width 0.0s linear;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 10rem;
}

.nav-bar-item:hover .nav-bar-drop-down {
/* .nav-bar-drop-down { */
  left: calc(var(--nav-bar-open-width));
  width: var(--nav-bar-drop-down-width);
}

.nav-bar-drop-down-item {
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  display: grid;
  place-content: center;
  background-color: var(--app-background-color-4);
  font-weight: bold;
  transition: 
    transform  var(--nav-bar-transition-time3) ease,
    box-shadow var(--nav-bar-transition-time4) ease,
    background var(--nav-bar-transition-time4) ease;
  box-shadow: inset 0 0 5px 0 #000000;
  position: relative;
  animation: drop-down-item-appear var(--nav-bar-animation-time1) ease forwards ;
}

@keyframes drop-down-item-appear {
  0% {
    left: -100%;
    opacity: 0;
  }
  20% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.nav-bar-drop-down-item:not(.chosen):hover {
  filter: brightness(120%); 
  box-shadow:
          0 0 5px 0 white,
    inset 0 0 5px 0 black;
}

.nav-bar-drop-down-item:not(.chosen):active {
  transform: scale(.95);
}

.nav-bar-drop-down-item.chosen {
  background-color: rgb(7 , 140, 255);
}

.nav-bar-drop-down-item.button {
  background-color: orange;
}

.drop-down-item-details {
  width: 50vw;
  position: absolute;
  left: calc(100% + .2rem);
  top: -100vh;
  opacity: 0;
  background-color: white;
  padding: .2rem;
  border-radius: 2px;
}

.drop-down-item-details > * {
  text-align: left;
}

.nav-bar-drop-down-item:hover .drop-down-item-details {
/* .drop-down-item-details { */
  transition: 
    top     var(--nav-bar-transition-time3) ease var(--nav-bar-transition-delay2),
    opacity var(--nav-bar-transition-time5) ease var(--nav-bar-transition-delay3);
  top: 0;
  opacity: 1;
  z-index: -1;
  /* box-shadow: 0rem 0 1rem .5rem black; */
}

