.main-content-container {
  width: calc(
    100vw
    - var(--nav-bar-open-close-button-width)
    - var(--toolbox-width)
  );
  position: absolute;
  top: 0;
  left: var(--nav-bar-open-close-button-width);
  transition: 
    filter .8s ease .4s;
  color: white;
  padding: 5px;
  height: calc(100vh - var(--pager-height));
}

.pager {
  height: var(--pager-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pager.locked {
  opacity: .3;
  pointer-events: none;
}

.pager-item {
  /* font-weight: bold; */
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  display: grid;
  place-content: center;
  padding: 0 1rem;
  background-color: lightgray;
  border: 1px solid darkgray;
  color: black;
  cursor: pointer;
  user-select: none;
  height: 100%;
  transition: transform .1s linear;
}

.pager-item:hover {
  transform: scale(1.02);
}

.pager-item.active {
  /* box-shadow: 0 -10px 10px 0 black; */
  box-shadow: 0 0 10px 0 black;
}

.pager-item:not(.active) {
  box-shadow: inset 0 0 10px black;
  background-color: darkgray;
}

.pager-item:first-child {
  border-top-left-radius: 10px;
}

.pager-item:last-child {
  border-top-right-radius: 10px;
}

.page {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* padding: 5px; */
  /* overflow-y: scroll; */
  box-shadow: inset 0 0 3px black;
}

.page:not(.active) {
  display: none;
}