:root {
  /* --app-background-color-1: rgb(39, 50, 65); */
  --app-background-color-2: #D2AE6D;
  --app-background-color-3: #32336C;

  --pager-height: 50px;

  /* --toolbox-width: max(12rem, 20%); */
  --toolbox-width: 0px;

  --vs-primary: 29 92 255;
  
  --nav-bar-open-width: 8rem;
  --nav-bar-open-close-button-width: 1.5rem;
  --nav-bar-drop-down-width : 8rem;
  
  --nav-bar-transition-time1: 0.8s;
  --nav-bar-transition-time2: 0.4s;
  --nav-bar-transition-time3: 0.05s;
  --nav-bar-transition-time4: 0.2s;
  --nav-bar-transition-time5: 1s;
  --nav-bar-transition-delay1: 0.4s;
  --nav-bar-transition-delay2: 0.2s;
  --nav-bar-transition-delay3: 0.3s;
  --nav-bar-animation-time1: 0.7s;
  --main-content-opacity-wen-nav-bar-expanded: opacity(20%);
  
  /* --nav-bar-transition-time1: 0;
  --nav-bar-transition-time2: 0;
  --nav-bar-transition-time3: 0;
  --nav-bar-transition-time4: 0;
  --nav-bar-transition-time5: 0;
  --nav-bar-transition-delay1: 0;
  --nav-bar-transition-delay2: 0;
  --nav-bar-transition-delay3: 0;
  --nav-bar-animation-time1: 0.1s; */
}